.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .home-page-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  